---
title: 微搜索
---

.brand
  .wrap
    .row
      .large-12.columns
        %h2.text-center 微搜索
        %p.text-center 最好用的站内搜索引擎
    %br
    .row
      .large-8.large-centered.columns
        %form.row.collapse
          .large-9.columns
            %input#ts-search-input{type: 'text', placeholder: '例如：内测'}
          .large-3.columns
            %input.button.orange{type: 'submit', value: '搜索'}
    .row
      .large-12.columns
        %ul.small-block-grid-3
          %li.text-center
            = image_tag 'brand1.png'
            %p 跨站搜索
          %li.text-center
            = image_tag 'brand2.png'
            %p 自动补全
          %li.text-center
            = image_tag 'brand3.png'
            %p 安装简单

  %br
.steps
  .step-title.wrap.white-bg
    .row
      .large-12.columns
        %h2 简单3步，给你的站点添加微搜索功能
        %br
      %hr
    .row
      .large-12.columns
        %div{'data-magellan-expedition' => 'fixed'}
          %dl.sub-nav
            %dd{:'data-magellan-arrival' => 'step1'}
              %a{:href => "#step1"} 1. 创建搜索引擎
            %dd{:'data-magellan-arrival' => 'step2'}
              %a{:href => "#step2"} 2. 添加域名
            %dd{:'data-magellan-arrival' => 'step3'}
              %a{:href => "#step3"} 3. 安装
  .step.wrap.gray-bg
    .row
      .large-12.columns
        %a{:name => "step1"}
        %h3{'data-magellan-destination' => 'step1'}
          .label 1
          创建搜索引擎
        = image_tag 'step1.png'
  .step.wrap.white-bg
    .row
      .large-12.columns
        %a{:name => "step2"}
        %h3{'data-magellan-destination' => 'step2'}
          .label 2
          添加域名
        %br
        = image_tag 'step2.png'
  .step.wrap.gray-bg
    .row
      .large-12.columns
        %a{:name => "step3"}
        %h3{'data-magellan-destination' => 'step3'}
          .label 3
          安装
        %br
        = image_tag 'step3.png'
.welcome.wrap.white-bg
  .row
    .large-12.columns.text-center
      %a.button.large{:href => "http://dashboard.tinysou.com/signup"} 立即试用

%script{type: 'text/javascript', src: "http://tinysou-cdn.qiniudn.com/tinysou-nojquery.js"}
<link type='text/css' rel='stylesheet' href="http://tinysou-cdn.qiniudn.com/tinysou.min.css" media='all' />

:javascript
  $(document).ready(function () {
    var resultTemplate = Hogan.compile('<div class="ts-result"><h3 class="title"><a href="{{url}}" class="ts-search-result-link">{{title}}</a></h3><div class="ts-metadata"><span class="ts-snippet">{{{body}}}</span></div></div>')
    var customRenderer = function(item) {
      var data = {
        title: item['document']['title'],
        url: item['document']['url'],
        body: item.highlight['body'] || item['body'].substring(0, 300)
      };
      return resultTemplate.render(data);
    };
    var customRenderActFunction = function(item) {
      var out = '<p class="title">' + item['document']['title'] + '</p>';
      out = out.concat('<p class="url">' + item['document']['sections'][0] + '</p>');
      return out;
    };
    TinySou.root_url = 'http://0.0.0.0:9292'
    $('#ts-search-input').tinysouSearch({
      // resultContainingElement: '#ts-results-container',
      engineKey: 'ecc9d2fbe2fce8c4ded4',
      renderFunction: customRenderer,
      perPage: 4,
      // renderStyle: 'new_page',
      // resultPageURL: '/site/search',
      renderActFunction: customRenderActFunction,
      fetchFields: ['title', 'url', 'sections']
    });
  })
