---
title: 微搜索
keywords: 搜索引擎,站内搜索,引用内搜索,搜索API
description: 最好用的站内搜索工具
nosearch: true
---

.brand
  .wrap
    .row
      .large-12.columns
        %h2.text-center 微搜索
        %p.text-center 最好用的站内搜索引擎
    %br
    %form.row.collapse
      .large-3.columns.medium-2.small-1
        %p
      .large-5.columns.medium-6.small-7
        %input#ts-search-input{type: 'text', placeholder: '例如：自定义样式'}
      .large-1.columns.medium-2.small-2.end
        %input.button.orange{type: 'submit', value: '搜索'}
    .row
      .large-12.columns
        %ul.small-block-grid-3
          %li.text-center
            = image_tag 'brand1.png'
            %p 跨站搜索
          %li.text-center
            = image_tag 'brand2.png'
            %p 自动补全
          %li.text-center
            = image_tag 'brand3.png'
            %p 安装简单

  %br
.steps
  .step-title.wrap.white-bg
    .row
      .large-12.columns
        %h2 简单3步，给你的站点添加微搜索功能
        %br
      %hr
      %br
    .row.show-for-medium-up
      .large-12.columns
        %div{'data-magellan-expedition' => 'fixed'}
          %dl.sub-nav
            .sub-nav-body
              %dd{:'data-magellan-arrival' => 'step1'}
                %a{:href => "#step1"} 1. 创建搜索引擎
              %dd{:'data-magellan-arrival' => 'step2'}
                %a{:href => "#step2"} 2. 添加域名
              %dd{:'data-magellan-arrival' => 'step3'}
                %a{:href => "#step3"} 3. 安装
    .row.show-for-small-only
      %div{'data-magellan-expedition' => 'fixed'}
        %ul.sub-nav
          .sub-nav-body
            %li{:'data-magellan-arrival' => 'step1'}
              %a{:href => "#step1"} 1. 创建搜索引擎
            %li{:'data-magellan-arrival' => 'step2'}
              %a{:href => "#step2"} 2. 添加域名
            %li{:'data-magellan-arrival' => 'step3'}
              %a{:href => "#step3"} 3. 安装


  .step.wrap.gray-bg
    .row
      .large-12.columns
        %a{:name => "step1"}
        %h3{'data-magellan-destination' => 'step1'}
          .label 1
          创建搜索引擎
        = image_tag 'step1.png'
  .step.wrap.white-bg
    .row
      .large-12.columns
        %a{:name => "step2"}
        %h3{'data-magellan-destination' => 'step2'}
          .label 2
          添加域名
        %br
        = image_tag 'step2.png'
  .step.wrap.gray-bg
    .row
      .large-12.columns
        %a{:name => "step3"}
        %h3{'data-magellan-destination' => 'step3'}
          .label 3
          安装
        %br
        = image_tag 'step3.png'
.welcome.wrap.white-bg
  .row
    .large-12.columns.text-center
      %a.button.large{:href => "http://dashboard.tinysou.com/signup"} 立即试用
