---
title: 套餐价格 - 微搜索
keywords: 搜索引擎,站内搜索,应用内搜索,搜索API,定价,套餐
description: 最好用的站内搜索工具
---

.brand
  .wrap
    .row
      .alert-box.warning{:'data-alert' => true}
        除了“免费版”外，其他套餐在内测期过后可能会有调整。
        %a{href: '#', class: 'close'} &times;
      .large-4.columns
        %ul.pricing-table
          %li.title 免费版
          %li.price 0 元/月
          %li.cta-button
            %a.button{href: 'http://dashboard.tinysou.com/signup'}= '立即注册'
          %li.description
            适用小型网站和移动应用。
          %li.description
            含基础功能。有限使用量。
          %li.description
            永久免费。
      .large-4.columns
        %ul.pricing-table
          %li.title 基础版
          %li.price 49 元/月
          %li.cta-button
            %a.button{href: 'mailto:support@tinysou.com'}= '联系我们'
          %li.description
            适用中型网站和移动应用。
          %li.description
            含基础功能与基本扩展功能。较大使用量。
          %li.description
            5X12 技术支持。
      .large-4.columns
        %ul.pricing-table
          %li.title 专业版
          %li.price 159 元/月
          %li.cta-button
            %a.button{href: 'mailto:support@tinysou.com'}= '联系我们'
          %li.description
            适用大型网站和移动应用。
          %li.description
            含基础功能与所有扩展服务。超大使用量。
          %li.description
            7X24 技术支持。多帐号分组管理。

.wrap.white-bg
  .row
    .large-12.columns
      %table.compare-table
        %thead
          %tr
            %th
            %th{scope: 'column'}
              免费版
              .fa.fa-star-o.gray-color
            %th{scope: 'column'}
              基础版
              .fa.fa-star-half-o.orange-light-color
            %th{scope: 'column'}
              专业版
              .fa.fa-star.orange-color
        %tbody
          %tr
            %td{scope: 'row'} Engines(个)
            %td 1(包含2个域名)
            %td 不限
            %td 不限
          %tr
            %td{scope: 'row'} Documents(个)
            %td 10,000
            %td 100,000
            %td 5,000,000
          %tr
            %td{scope: 'row'} 索引 API(次/月)
            %td 30,000
            %td 3,000,000
            %td 60,000,000
          %tr
            %td{scope: 'row'} 搜索 API(次/月)
            %td 30,000
            %td 3,000,000
            %td 60,000,000
          %tr
            %td{scope: 'row'} 搜索行为分析
            %td 1 周(7天)
            %td 1 季度(90天)
            %td 1 年(365天)
          %tr
            %td{scope: 'row'} 技术支持
            %td 一个工作日内
            %td 5X12 小时
            %td 7X24 小时
          %tr
            %td{scope: 'row'} SLA
            %td
              %i.fa.fa-minus
            %td
              %i.fa.fa-check
            %td
              %i.fa.fa-check
          %tr
            %td{scope: 'row'} Collection schema 迁移
            %td
              %i.fa.fa-minus
            %td
              %i.fa.fa-check
            %td
              %i.fa.fa-check
          %tr
            %td{scope: 'row'} 同义词与建议
            %td
              %i.fa.fa-minus
            %td
              %i.fa.fa-check
            %td
              %i.fa.fa-check
          %tr
            %td{scope: 'row'} 分组(多帐号)权限控制
            %td
              %i.fa.fa-minus
            %td
              %i.fa.fa-minus
            %td
              %i.fa.fa-check
      %hr/
.white-bg
  .row.faq
    %h3.align-center#faq 常见问题(FAQ)
    .large-6.columns
      %h5 你们可以指导或协助我安装“微搜索”吗？
      %p
        = '当然可以。首先您可以阅读下我们首页的"快速安装"与文档中心的'
        %a{href: 'http://doc.tinysou.com/guides/overview.html'}= '"指南"'
        = '如果还是有疑问，可以给我们发邮件。邮件中请详细描述下您的"应用场景(use case)"'
        = '我们会在1个工作日内回复您。'
        = '邮件请发送到'
        %a{href: 'mailto:support@tinysou.com'}= 'support@tinysou.com'
      %h5 如果我发现免费版的不能满足我的使用量，我该如何升级我的帐号？
      %p
        = '在内测阶段，如果需要升级帐号，请发邮件给我们。在邮件中请说明您需要升级的原因与您的应用场景，我们会免费为您升级帐号。'
        = '邮件请发送到'
        %a{href: 'mailto:support@tinysou.com'}= 'support@tinysou.com。'
        = '内测过后，我们会给出相应的价格与免费体验时间。您可以在一段时间的免费体验过后，选择通过付费的方式升级您的帐号。'
    .large-6.columns
      %h5 "微搜索"未来会收费吗？
      %p
        = '对于"免费版"套餐，我们承诺永远不会收费；对于其他的套餐，在内测阶段是免费的，内测过后不再免费。具体价格，我们会根据内测期间的情况进行研究确定。如果您有什么好的建议，同样欢迎邮件联系我们。'
        = '邮件请发送到'
        %a{href: 'mailto:support@tinysou.com'}= 'support@tinysou.com'
      %h5 作为内测用户，或者如果我向我的好友成功推荐了微搜索，我是否可以得到一定的回馈？
      %p
        作为内测用户，我们非常感谢在最开始的时候给予我们信任。如果您帮我们推广了业务，我们更加感谢您对我们的支持。我们也在设计回馈的具体方案，包括代金券，永久折扣等等。虽然还没有定案，但是请您相信，我们一定会对老客户，热心客户有诚意的实惠。

- content_for :onready do
  :plain
    $('li.nav-plan').addClass('active');
